*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 4px;

}
.container{
    padding: 1rem;
    /* border: 5px solid black; */
    /* background-color:bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 920px) {
    .huge{
        /* border: 5px solid gold; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
}
.header{
    width: 70%;
    /* background-color:rgb(223, 208, 208); */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
img,logo1{
    width: 70px;
    mix-blend-mode: darken;
}
#StudySync{
    color: blue;
    font-size: 3.4rem;

}
a{
    text-decoration: none;
    color: rgb(47, 46, 46);
}
.about{
    font-weight: bold;
    font-size: 2.3rem;
    display: none;
    gap: 3rem;
}
@media screen and (min-width:1420px) {
    .about{
        display:flex;
    }
}

#about:hover{
    color:blue;
    transform: scale(1.2);
}


#contactus{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    
}
.contact:hover{
    background-color:rgb(48, 48, 245);
    
}

.contact{
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(27, 27, 251) ;
    background-color:rgb(66, 66, 255);
    width: 200px;
    height: 50px;
}
@media screen and (min-width:1420px) {
    .contact{
        display:flex;
    }
}
.ham{
    display: none;

}
#ham{
    width: 47px;
    height: 50px;
}
#butt{
    color: white;
    border: none;
}
@media screen and (max-width:1420px) {
    .ham{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin: 2rem;
    width: 100%;
    /* border: 3px solid black; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1420px) {
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-content{
    /* border: 2px solid rgb(38, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: relative;
    left: 50px;
    }

}
    
.left-content{
    /* border: 2px solid red; */
    width: 55%;
    padding-left: 10%;
    padding-right: 5%;
    animation-name: move;
    animation: slidefromleft .75s ease-in forwards;
    opacity: 0;
}
@keyframes slidefromleft {
    0% {
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
    
}


.right-content{
    /* border: 2px solid rgb(38, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 30px;
    padding-right: 11%;
}
#proud{
    color:blue;
    font-size: 2.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 80px;
}
#seamless{
    color:rgb(0, 0, 0);
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: px;
}
#innovative{
    width: 80%;
    color:rgb(0, 0, 0);
    font-size: 2.3rem;
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 35px;
}
.start{
    margin-top: 40px;
    margin-bottom: 30px;
}
#startnow{
    width: 200px;
    height: 60px;
    background-color:blue;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
    border-radius: 10px;;
    margin-right: 20px;
}
#taketour{
    width: 200px;
    height: 60px;
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
    border-radius: 10px;
}
.right-content, #img1{
    margin: 15px;
    border-radius: 20px;
    width: 65rem;
    height: 70rem;
    filter: drop-shadow(0 0 12px grey);
}
#google,#micro,#linkedin{
    mix-blend-mode:difference;
    padding-right: 1rem;
}

.minihero{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    animation: slidefromleft .75s ease-in forwards;
    opacity: 0;
}
.trusted{
    color:black;
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
.site{
    /* border: 2px solid black; */
    width: 60rem;
    height: 8rem;
    border-radius: 10px;
    /* color: rgb(76, 71, 71); */
    background-color:var(--grey);
    background:rgb(209, 209, 209);
    margin-bottom: 10px;
}
.google,.micro,.linkedin{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: .8rem;
    font-size: 2rem;
    font-weight: bold;
    
}
@media screen and (max-width:1420px) {
    .google,.micro,.linkedin{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .site{
        width:20rem;
        height: 25rem;
    }
}

.container2{
    margin-top: 2rem;
    background-color:rgb(201, 193, 184);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ourcom{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#advantage{
    font-size: 3.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
}
.subadv{
    display: flex;
    width: 50%;
}
#subadv{
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size:2.5rem;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    width: 110rem;
    /* height: 30rem; */
    padding-bottom: 2rem;
}

@media screen and (max-width:1420px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
        width: 80%;
    }
}

.circle{
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card1{
    background-color:rgb(41, 41, 239);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 5rem;
    border-radius:4rem;
    
}
#card1text1{
    padding-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card1text2{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.card1 #personal{

    padding: 1rem;
    border-radius: 100%;    
    background-color: white;

}
.card2{
    background-color:rgb(249, 86, 113);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding: 5rem;
}

.card2 #afford{
    width: 7rem;
    /* height: 6rem; */
    padding: 1rem;
    background-color: white;
}

#card2text1{
    padding-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card2text2{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.card3{
    background-color:rgb(246, 200, 17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding: 5rem;
}

.card3 #indus{
    width: 7rem;
    /* height: 6rem; */
    padding: 1rem;
    background-color: white;
}

#card3text1{
    padding-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card3text2{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.card4{
    background-color:rgb(17, 193, 246);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding: 5rem;
}

.card4 #inovative{
    width: 7rem;
    /* height: 6rem; */
    padding: 1rem;
    background-color: white;
}

#card4text1{
    padding-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card4text2{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.card5{
    background-color:rgb(74, 246, 17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding: 5rem;
}

.card5 #ham2{
    width: 7rem;
    /* height: 6rem; */
    padding: 1rem;
    background-color: white;
}

#card5text1{
    padding-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card5text2{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.card6{
    background-color:rgb(208, 17, 246);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding: 5rem;
}

.card6 #analytics{
    width: 7rem;
    /* height: 6rem; */
    padding: 1rem;
    background-color: white;
}

#card6text1{
    padding-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card6text2{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#what{
    font-size: 4rem;
    margin-top: 3rem;
}

.testi{
    width: 80%;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    /* border: 2px solid red; */
    margin: 2rem;
    padding: 2rem;
}
@media screen and   (max-width:920px) {
    .testi{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      /* grid-template-rows: repeat(3,1fr); */
    }
}
@media screen and (min-width:920px) and  (max-width:1420px) {
    .testi{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
    }
}

.testi1:hover{
    transform: scale(1.05);
    border: 2px solid black;
}
.testi2:hover{
    transform: scale(1.05);
    border: 2px solid black;
}
.testi3:hover{
    transform: scale(1.05);
    border: 2px solid black;
}
.testi1{
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem;
    height: 500px;
    /* width: 30%; */
    transition: all 1s ease;

}
.testi1 img{
    width: 150px;
}
.testi2 img{
    width: 150px;
}
.testi3 img{
    width: 150px;
}
#testi1text1{
    text-align: center;
    font-size: 2.3rem;
    /* padding-bottom: 1rem; */
}
#testi1text2{
    font-size: 3rem;
    color: blue;
    font-weight: bolder;
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
}
#testi1text3{
    font-size: 2.2rem;
}


.testi2{
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem;
    height: 500px;
    /* width: 30%; */
    transition: all 1s ease;
}
#testi2text1{
    text-align: center;
    font-size: 2.3rem;
    /* padding-bottom: 1rem; */
}
#testi2text2{
    font-size: 3rem;
    color: blue;
    font-weight: bolder;
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
}
#testi2text3{
    font-size: 2.2rem;
}


.testi3{
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem;
    height: 20%;
    height: 500px;
    /* width: 30%; */
    transition: all 1s ease;
}
#testi3text1{
    text-align: center;
    font-size: 2.3rem;
    /* padding-bottom: 1rem; */
}
#testi3text2{
    font-size: 3rem;
    color: blue;
    font-weight: bolder;
    /* padding-bottom: 1rem; */
    /* padding-top: 1rem; */
}
#testi3text3{
    font-size: 2.2rem;
}

.newsletter{
    /* border: 2px solid black; */
    margin-bottom: 20px;
    background-color:#d2d1d1;
    width: 70%;
    border-radius: 20px;
}
.news{
    display: flex;
}
.nll{
    width: 50%;
    margin-right: 2rem;
}
.nll img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}
.nlr{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nlrh1{
    color: blue;
    margin-bottom: .1rem;
    font-size: 3.5rem;
}
#nlrp1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.nlrb1{
    margin-bottom: 2rem;
}
#email{
    height: 40px;
    width: 250px;
}
#nlrb1btn{
    padding: .5rem;
    background-color:blue;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 7px;
}
input::placeholder{
    font-size: 1.3rem;
    padding-left: 1rem;
}
#nlrp2{
    font-size: 1.6rem;
}
#nlrp2 #tandc{
    color: blue;
    text-decoration: underline;
}
@media screen and (max-width:1420px) {
    .news{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .nll{
        display: none;
    }
}

.footer{
    /* border: 2px solid red; */
    margin: 2rem;
    padding: 2rem;
    /* height: 900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}
.topfooter{
    display: flex;
}

.fb1{
    /* border: 2px solid black;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: grid;
    /* grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    place-items: center; */ 
    margin: 2rem 15rem 2rem 5rem;
}
.sts{
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: blue;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}
.sts img{
    width: 100px;
    mix-blend-mode:darken;
}
.future{
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.ankrs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 2rem;
}

.leftfooter{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
@media screen and (min-width:1070px) and (max-width:1600px) {
    .leftfooter{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 2rem;
    }
    .fb1{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 2.5rem;
      
    }
}

@media screen and (min-width:920px) and (max-width:1070px) {
    .leftfooter{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 2rem;
    }
    .fb1{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 2.5rem;
      
    }
    
}

@media screen and (max-width:920px) {
  
    .topfooter{
    display: flex;
    flex-direction: column;
   }
    .leftfooter{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 2rem;
    }
    .fb1{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 2.5rem;
      
    }
      
}
.fb2{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 3rem;
    /* margin-left: 10rem;  */
    text-align: center;  
}
#Product{
    font-size: 3rem;
    font-weight: bolder;
    padding: 1rem;
}
.fb2 a{
    font-size: 2.4rem;
    padding: 1rem;
}

.fb3,.fb4,.fb5{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 3rem;
    /* margin-left: 5rem;    */
    /* justify-content: center; */
}
#Company,#Support2,#legal{
    font-size: 3rem;
    font-weight: bolder;
    padding: 1rem;
}
.fb3 a,.fb4 a,.fb5 a{
    font-size: 2.4rem;
    padding: 1rem;
}
.fb5{
    width: 350px;
}
.bottomfooter{
    width: 100vw;
    display: flex;
    justify-content: center;

}
#rights{
    padding-top: 5rem;
    font-size: 2.4rem;
}
